@{
    ViewData["Title"] = "Панель администратора";
}

<h2>@ViewData["Title"]</h2>
<p>Добро пожаловать, админ!</p>

<a asp-controller="Admin" asp-action="Users" class="btn btn-primary">Список пользователей</a>
