@{
    ViewData["Title"] = "Отправить решение";
}

<h2>Отправить решение</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Язык программирования</label>
        <select name="language" class="form-select">
            <option value="C++">C++</option>
            <option value="C">C</option>
            <option value="Python">Python</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Код</label>
        <textarea name="code" rows="12" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
