@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработчика</h3>
<p>
    Переключение в среду <strong>Разработки</strong> отобразит более подробную информацию о произошедшей ошибке.
</p>
<p>
    <strong>Среду разработки не следует включать в развёрнутых приложениях</strong>,
    так как это может привести к отображению конфиденциальной информации об исключениях для конечных пользователей.
    Для локальной отладки среду разработки можно включить, установив для переменной среды 
    <strong>ASPNETCORE_ENVIRONMENT</strong>
    значение <strong>Development</strong>, и перезапустив приложение.
</p>
